name: Integrate with master
on:
  push:
    branches:
      - test
      
jobs:
  push-to-master:
    steps:
      - name: Push to master
        run: |
          git checkout test
          git rebase origin/master
          git push origin master
