name: Integrate with master
on:
  push:
    branches:
      - "feature_**"
      
jobs:
  push-to-master:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Push to master
        run: |
          git checkout origin/master
          git merge ${GITHUB_REF#refs/heads/}