name: Integrate with master
on:
  push:
    branches:
      - test
      
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Push to release
        run: |
          echo ${GITHUB_REF#refs/heads/release}
          git checkout ${GITHUB_REF#refs/heads/}
          git rebase origin/release
          git branch release
          git push origin release:release
          git push origin :${GITHUB_REF#refs/heads/}
